@media screen and (max-width: 700px) {
    body{
        background-color: black;
        background-image: url(images/background1.jpg);
        background-repeat: repeat;
        background-size:cover;
    }
    #menutitle{
        color: #ffe23e;
        text-align: center;
        font-family: engravers MT;
        margin-top: 4rem;
    }

    .a1{
        color: rgb(255, 221, 177);
        text-align: center;
        font-family: engravers MT;
        margin: 2.5rem;     

    }
    a{
        text-decoration:none;
    }
    #body1{
        margin-top: 4rem;
    }

    #history{
        color: rgb(255, 221, 177);
        text-align: center;
        font-family: engravers MT;
    }
    
}