@media screen and (max-width: 700px) {
    body{
        background-color: black;
        background-image: url(images/background2.jpg);
        background-repeat: no-repeat;
        background-size:100%;
    }

    #history1{
        font-family: engravers MT;
        color:#ffe23e;
        text-align: center;
        margin-top: 3rem;
    }

    p{
        color: #ffe23e;
        text-align: center;
        font-size: smaller;
    }
    #back2menu{
        font-family: engravers MT;
        color: rgb(255, 221, 177);
        text-align: center;
        text-decoration: none;  
        font-size: small;
        margin-bottom: 8rem;
    }
    #back2menuh2{
        margin-bottom: 2.5rem;
    }
}